Repository openstack/openstack-ansible-ops: changes, and which Zuul jobs are due for each by the changed paths.
All: openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial, openstack-ansible-ops:elk_metrics_6x-centos-7, openstack-ansible-ops:elk_metrics_6x-centos-7-clustered, openstack-ansible-ops:elk_metrics_6x-opensuse-423, openstack-ansible-ops:elk_metrics_6x-opensuse-423-clustered, openstack-ansible-ops:elk_metrics_6x-ubuntu-trusty, openstack-ansible-ops:elk_metrics_6x-ubuntu-bionic, openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial-clustered, openstack-ansible-ops:elk_metrics_6x-ubuntu-bionic-clustered, openstack-ansible-ops:osquery-ubuntu-xenial, openstack-ansible-ops:osquery-ubuntu-xenial-clustered, openstack-ansible-ops:osquery-ubuntu-bionic, openstack-ansible-ops:osquery-ubuntu-bionic-clustered

openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial:
  parent: base
  description: Runs a gate test on the elk_metrics_6x project.
  run: elk_metrics_6x/tests/test.yml
  post-run: elk_metrics_6x/tests/post-run.yml
  vars:
    osa_test_repo: openstack/openstack-ansible-ops
    test_clustered_elk: false

openstack-ansible-ops:elk_metrics_6x-centos-7:
  parent: openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial
  nodeset: centos-7
  voting: true

openstack-ansible-ops:elk_metrics_6x-centos-7-clustered:
  parent: openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial
  nodeset: centos-7
  voting: false
  vars:
    osa_test_repo: openstack/openstack-ansible-ops
    test_clustered_elk: true

openstack-ansible-ops:elk_metrics_6x-opensuse-423:
  parent: openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial
  nodeset: opensuse-423
  voting: true

openstack-ansible-ops:elk_metrics_6x-opensuse-423-clustered:
  parent: openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial
  nodeset: opensuse-423
  voting: false
  vars:
    osa_test_repo: openstack/openstack-ansible-ops
    test_clustered_elk: true

openstack-ansible-ops:elk_metrics_6x-ubuntu-trusty:
  parent: openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial
  nodeset: ubuntu-trusty
  voting: false

openstack-ansible-ops:elk_metrics_6x-ubuntu-bionic:
  parent: openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial
  nodeset: ubuntu-bionic
  voting: true

openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial-clustered:
  parent: openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial
  voting: false
  vars:
    osa_test_repo: openstack/openstack-ansible-ops
    test_clustered_elk: true

openstack-ansible-ops:elk_metrics_6x-ubuntu-bionic-clustered:
  parent: openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial
  nodeset: ubuntu-bionic
  voting: false
  vars:
    osa_test_repo: openstack/openstack-ansible-ops
    test_clustered_elk: true

openstack-ansible-ops:osquery-ubuntu-xenial:
  parent: base
  description: Runs a gate test on the osquery project.
  run: osquery/tests/test.yml
  post-run: osquery/tests/post-run.yml
  voting: true

openstack-ansible-ops:osquery-ubuntu-xenial-clustered:
  parent: openstack-ansible-ops:osquery-ubuntu-xenial
  nodeset: ubuntu-bionic
  vars:
    osa_test_repo: openstack/openstack-ansible-ops
    test_clustered_kolide: true

openstack-ansible-ops:osquery-ubuntu-bionic:
  parent: openstack-ansible-ops:osquery-ubuntu-xenial
  nodeset: ubuntu-bionic

openstack-ansible-ops:osquery-ubuntu-bionic-clustered:
  parent: openstack-ansible-ops:osquery-ubuntu-xenial
  nodeset: ubuntu-bionic
  vars:
    osa_test_repo: openstack/openstack-ansible-ops
    test_clustered_kolide: true

MNAIO: Increase default logging_vm_server_ram to 16384
  multi-node-aio/playbooks/group_vars/log_hosts.yml
Due: none

clean up readme
  osquery/README.rst
Due: openstack-ansible-ops:osquery-ubuntu-xenial, openstack-ansible-ops:osquery-ubuntu-xenial-clustered, openstack-ansible-ops:osquery-ubuntu-bionic, openstack-ansible-ops:osquery-ubuntu-bionic-clustered

Additional playbook cleanup and use stable release
  osquery/README.rst
  osquery/roles/fleet/defaults/main.yml
  osquery/roles/fleet/tasks/createFleetDB.yml
  osquery/roles/fleet/tasks/fleetMigrateDB.yml
Due: openstack-ansible-ops:osquery-ubuntu-xenial, openstack-ansible-ops:osquery-ubuntu-xenial-clustered, openstack-ansible-ops:osquery-ubuntu-bionic, openstack-ansible-ops:osquery-ubuntu-bionic-clustered

Replace Chinese punctuation with English punctuation
  CONTRIBUTING.rst
Due: none

Additional cleanup and simplification
  osquery/installOSquery.yml
  osquery/roles/fleet/tasks/fleetMigrateDB.yml
  osquery/roles/fleet/tasks/fleetRegisterAdmin.yml
  osquery/roles/osquery/defaults/main.yml
  osquery/roles/osquery/handlers/main.yml
  osquery/roles/osquery/tasks/osquery_configure.yml
  osquery/roles/osquery/templates/osquery.conf.j2
  osquery/roles/osquery/templates/osquery.flags.j2
  osquery/vars/variables.yml
Due: openstack-ansible-ops:osquery-ubuntu-xenial, openstack-ansible-ops:osquery-ubuntu-xenial-clustered, openstack-ansible-ops:osquery-ubuntu-bionic, openstack-ansible-ops:osquery-ubuntu-bionic-clustered

Fixes related to installation on Trusty
  elk_metrics_6x/createElasticIndexes.yml
  elk_metrics_6x/fieldRefresh.yml
  elk_metrics_6x/installKibana.yml
  elk_metrics_6x/roles/elastic_apm_server/templates/_macros.j2
  elk_metrics_6x/roles/elastic_auditbeat/templates/_macros.j2
  elk_metrics_6x/roles/elastic_filebeat/templates/_macros.j2
  elk_metrics_6x/roles/elastic_heartbeat/templates/_macros.j2
  elk_metrics_6x/roles/elastic_journalbeat/templates/_macros.j2
  elk_metrics_6x/roles/elastic_kibana/defaults/main.yml
  elk_metrics_6x/roles/elastic_metricbeat/handlers/main.yml
  elk_metrics_6x/roles/elastic_metricbeat/tasks/main.yml
  elk_metrics_6x/roles/elastic_metricbeat/templates/_macros.j2
  elk_metrics_6x/roles/elastic_packetbeat/templates/_macros.j2
  elk_metrics_6x/roles/elastic_retention/tasks/main.yml
Due: openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial, openstack-ansible-ops:elk_metrics_6x-centos-7, openstack-ansible-ops:elk_metrics_6x-centos-7-clustered, openstack-ansible-ops:elk_metrics_6x-opensuse-423, openstack-ansible-ops:elk_metrics_6x-opensuse-423-clustered, openstack-ansible-ops:elk_metrics_6x-ubuntu-trusty, openstack-ansible-ops:elk_metrics_6x-ubuntu-bionic, openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial-clustered, openstack-ansible-ops:elk_metrics_6x-ubuntu-bionic-clustered

Update the test scripts
  elk_metrics_6x/tests/run-tests.sh
  osquery/tests/run-tests.sh
Due: openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial, openstack-ansible-ops:elk_metrics_6x-centos-7, openstack-ansible-ops:elk_metrics_6x-centos-7-clustered, openstack-ansible-ops:elk_metrics_6x-opensuse-423, openstack-ansible-ops:elk_metrics_6x-opensuse-423-clustered, openstack-ansible-ops:elk_metrics_6x-ubuntu-trusty, openstack-ansible-ops:elk_metrics_6x-ubuntu-bionic, openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial-clustered, openstack-ansible-ops:elk_metrics_6x-ubuntu-bionic-clustered, openstack-ansible-ops:osquery-ubuntu-xenial, openstack-ansible-ops:osquery-ubuntu-xenial-clustered, openstack-ansible-ops:osquery-ubuntu-bionic, openstack-ansible-ops:osquery-ubuntu-bionic-clustered

fix osquery filesystem logging
  osquery/vars/variables.yml
Due: openstack-ansible-ops:osquery-ubuntu-xenial, openstack-ansible-ops:osquery-ubuntu-xenial-clustered, openstack-ansible-ops:osquery-ubuntu-bionic, openstack-ansible-ops:osquery-ubuntu-bionic-clustered

MNAIO: Add legacy os-infra_hosts group back
  multi-node-aio/playbooks/group_vars/all.yml
  multi-node-aio/playbooks/osa/openstack_user_config.yml
Due: none

MNAIO: Implement branch var for pinning Ansible & Plugins
  multi-node-aio/bootstrap.sh
Due: none

Parameterize ansible version in embedded runtime
  bootstrap-embedded-ansible/README.rst
  bootstrap-embedded-ansible/bootstrap-embedded-ansible.sh
Due: none

MNAIO: flat networking fixes
  multi-node-aio/playbooks/pxe/configs/systemd-networkd/systemd-network.sh.j2
Due: none

Fix ansible path for elk_metrics_6x tests
  bootstrap-embedded-ansible/README.rst
  bootstrap-embedded-ansible/bootstrap-embedded-ansible.sh
  elk_metrics_6x/tests/functional.yml
  elk_metrics_6x/tests/manual-test.rc
  elk_metrics_6x/tests/run-tests.sh
  osquery/README.rst
  osquery/tests/functional.yml
  osquery/tests/manual-test.rc
  osquery/tests/run-tests.sh
  zuul.d/jobs.yaml
Due: openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial, openstack-ansible-ops:elk_metrics_6x-centos-7, openstack-ansible-ops:elk_metrics_6x-centos-7-clustered, openstack-ansible-ops:elk_metrics_6x-opensuse-423, openstack-ansible-ops:elk_metrics_6x-opensuse-423-clustered, openstack-ansible-ops:elk_metrics_6x-ubuntu-trusty, openstack-ansible-ops:elk_metrics_6x-ubuntu-bionic, openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial-clustered, openstack-ansible-ops:elk_metrics_6x-ubuntu-bionic-clustered, openstack-ansible-ops:osquery-ubuntu-xenial, openstack-ansible-ops:osquery-ubuntu-xenial-clustered, openstack-ansible-ops:osquery-ubuntu-bionic, openstack-ansible-ops:osquery-ubuntu-bionic-clustered

Metricbeat role check for a ceph api to monitor
  elk_metrics_6x/roles/elastic_metricbeat/tasks/main.yml
Due: openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial, openstack-ansible-ops:elk_metrics_6x-centos-7, openstack-ansible-ops:elk_metrics_6x-centos-7-clustered, openstack-ansible-ops:elk_metrics_6x-opensuse-423, openstack-ansible-ops:elk_metrics_6x-opensuse-423-clustered, openstack-ansible-ops:elk_metrics_6x-ubuntu-trusty, openstack-ansible-ops:elk_metrics_6x-ubuntu-bionic, openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial-clustered, openstack-ansible-ops:elk_metrics_6x-ubuntu-bionic-clustered

Add auto discover for ceph prometheus metrics
  elk_metrics_6x/roles/elastic_metricbeat/defaults/main.yml
  elk_metrics_6x/roles/elastic_metricbeat/tasks/main.yml
  elk_metrics_6x/roles/elastic_metricbeat/templates/metricbeat.yml.j2
Due: openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial, openstack-ansible-ops:elk_metrics_6x-centos-7, openstack-ansible-ops:elk_metrics_6x-centos-7-clustered, openstack-ansible-ops:elk_metrics_6x-opensuse-423, openstack-ansible-ops:elk_metrics_6x-opensuse-423-clustered, openstack-ansible-ops:elk_metrics_6x-ubuntu-trusty, openstack-ansible-ops:elk_metrics_6x-ubuntu-bionic, openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial-clustered, openstack-ansible-ops:elk_metrics_6x-ubuntu-bionic-clustered

Delete the duplicate words in README.rst
  graylog/README.rst
Due: none

Correct clustered gating job
  elk_metrics_6x/tests/inventory/test-container-inventory.yml
Due: openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial, openstack-ansible-ops:elk_metrics_6x-centos-7, openstack-ansible-ops:elk_metrics_6x-centos-7-clustered, openstack-ansible-ops:elk_metrics_6x-opensuse-423, openstack-ansible-ops:elk_metrics_6x-opensuse-423-clustered, openstack-ansible-ops:elk_metrics_6x-ubuntu-trusty, openstack-ansible-ops:elk_metrics_6x-ubuntu-bionic, openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial-clustered, openstack-ansible-ops:elk_metrics_6x-ubuntu-bionic-clustered

reduce container count on cluster test
  elk_metrics_6x/tests/inventory/test-container-inventory.yml
Due: openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial, openstack-ansible-ops:elk_metrics_6x-centos-7, openstack-ansible-ops:elk_metrics_6x-centos-7-clustered, openstack-ansible-ops:elk_metrics_6x-opensuse-423, openstack-ansible-ops:elk_metrics_6x-opensuse-423-clustered, openstack-ansible-ops:elk_metrics_6x-ubuntu-trusty, openstack-ansible-ops:elk_metrics_6x-ubuntu-bionic, openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial-clustered, openstack-ansible-ops:elk_metrics_6x-ubuntu-bionic-clustered

Update link address
  doc/source/index.rst
Due: none

1.modify the http link to https links 2.modify the misspelling world
  CONTRIBUTING.rst
  bootstrap-embedded-ansible/README.rst
  multi-node-aio/bindep.txt
Due: none

MNAIO: Add ability to deploy Ceph
  multi-node-aio/README.rst
  multi-node-aio/build.sh
  multi-node-aio/playbooks/deploy-vms.yml
  multi-node-aio/playbooks/group_vars/all.yml
  multi-node-aio/playbooks/group_vars/ceph_hosts.yml
  multi-node-aio/playbooks/host_vars/ceph1.yml
  multi-node-aio/playbooks/host_vars/ceph2.yml
  multi-node-aio/playbooks/host_vars/ceph3.yml
  multi-node-aio/playbooks/inventory/hosts
  multi-node-aio/playbooks/osa/openstack_user_config.yml
  multi-node-aio/playbooks/osa/user_mnaio_variables.yml
Due: none

Update elk_6x for 6.5.x
  bootstrap-embedded-ansible/bootstrap-embedded-ansible.sh
  elk_metrics_6x/installKibana.yml
  elk_metrics_6x/roles/elastic_auditbeat/tasks/main.yml
  elk_metrics_6x/roles/elastic_filebeat/tasks/main.yml
  elk_metrics_6x/roles/elastic_heartbeat/tasks/main.yml
  elk_metrics_6x/roles/elastic_journalbeat/meta/main.yml
  elk_metrics_6x/roles/elastic_journalbeat/tasks/journalbeat_setup.yml
  elk_metrics_6x/roles/elastic_journalbeat/tasks/main.yml
  elk_metrics_6x/roles/elastic_journalbeat/vars/redhat.yml
  elk_metrics_6x/roles/elastic_journalbeat/vars/suse.yml
  elk_metrics_6x/roles/elastic_journalbeat/vars/ubuntu.yml
  elk_metrics_6x/roles/elastic_metricbeat/tasks/main.yml
  elk_metrics_6x/site-beats-community.yml
  elk_metrics_6x/site-beats-core.yml
  elk_metrics_6x/site.yml
Due: openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial, openstack-ansible-ops:elk_metrics_6x-centos-7, openstack-ansible-ops:elk_metrics_6x-centos-7-clustered, openstack-ansible-ops:elk_metrics_6x-opensuse-423, openstack-ansible-ops:elk_metrics_6x-opensuse-423-clustered, openstack-ansible-ops:elk_metrics_6x-ubuntu-trusty, openstack-ansible-ops:elk_metrics_6x-ubuntu-bionic, openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial-clustered, openstack-ansible-ops:elk_metrics_6x-ubuntu-bionic-clustered

MNAIO: Fix warning for guestfish workaround task
  multi-node-aio/playbooks/setup-host.yml
Due: none

MNAIO: If there is no secondary data disk, use the root disk
  multi-node-aio/playbooks/setup-host.yml
Due: none

Allow the option to specify OSA git repo URL
  leap-upgrades/lib/functions.sh
  leap-upgrades/lib/vars.sh
Due: none

Remove non-existant 'functional' test
  tox.ini
  zuul.d/project.yaml
Due: none

add short name for distros
  bootstrap-embedded-ansible/bootstrap-embedded-ansible.sh
Due: none

Change openstack-dev to openstack-discuss
  setup.cfg
Due: none

Add bugs url link to README
  README.rst
Due: none

Update mailinglist from dev to discuss
  setup.cfg
Due: none

MNAIO: Recovery the galera cluster with no gvwstate.dat file
  multi-node-aio/playbooks/deploy-vms.yml
  multi-node-aio/playbooks/kvm/prepare-image-galera.sh
Due: none

Chage cpu model to allow for nested virt to work
  multi-node-aio/playbooks/kvm/kvm-vm.xml.j2
Due: none

Better handling for resuming leapfrog upgrade
  leap-upgrades/lib/functions.sh
Due: none

modify fact gathering to use local facts
  elk_metrics_6x/README.rst
  elk_metrics_6x/roles/elastic_curator/tasks/main.yml
  elk_metrics_6x/roles/elastic_curator/templates/curator-actions-age.yml.j2
  elk_metrics_6x/roles/elastic_curator/templates/curator-actions-size.yml.j2
  elk_metrics_6x/roles/elastic_retention/defaults/main.yml
  elk_metrics_6x/roles/elastic_retention/tasks/main.yml
  elk_metrics_6x/roles/elastic_rollup/tasks/main.yml
Due: openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial, openstack-ansible-ops:elk_metrics_6x-centos-7, openstack-ansible-ops:elk_metrics_6x-centos-7-clustered, openstack-ansible-ops:elk_metrics_6x-opensuse-423, openstack-ansible-ops:elk_metrics_6x-opensuse-423-clustered, openstack-ansible-ops:elk_metrics_6x-ubuntu-trusty, openstack-ansible-ops:elk_metrics_6x-ubuntu-bionic, openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial-clustered, openstack-ansible-ops:elk_metrics_6x-ubuntu-bionic-clustered

Updated the connection plugins and add env options
  bootstrap-embedded-ansible/bootstrap-embedded-ansible.sh
  zuul.d/project.yaml
Due: none

Add missing prometheus port for ceph auto discover
  elk_metrics_6x/roles/elastic_metricbeat/tasks/main.yml
  elk_metrics_6x/roles/elastic_metricbeat/templates/metricbeat.yml.j2
Due: openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial, openstack-ansible-ops:elk_metrics_6x-centos-7, openstack-ansible-ops:elk_metrics_6x-centos-7-clustered, openstack-ansible-ops:elk_metrics_6x-opensuse-423, openstack-ansible-ops:elk_metrics_6x-opensuse-423-clustered, openstack-ansible-ops:elk_metrics_6x-ubuntu-trusty, openstack-ansible-ops:elk_metrics_6x-ubuntu-bionic, openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial-clustered, openstack-ansible-ops:elk_metrics_6x-ubuntu-bionic-clustered

Extend auto change detection
  elk_metrics_6x/createElasticIndexes.yml
  elk_metrics_6x/roles/elastic_retention/tasks/main.yml
Due: openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial, openstack-ansible-ops:elk_metrics_6x-centos-7, openstack-ansible-ops:elk_metrics_6x-centos-7-clustered, openstack-ansible-ops:elk_metrics_6x-opensuse-423, openstack-ansible-ops:elk_metrics_6x-opensuse-423-clustered, openstack-ansible-ops:elk_metrics_6x-ubuntu-trusty, openstack-ansible-ops:elk_metrics_6x-ubuntu-bionic, openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial-clustered, openstack-ansible-ops:elk_metrics_6x-ubuntu-bionic-clustered

Add local facts for template creations
  elk_metrics_6x/roles/elastic_apm_server/tasks/apm_setup.yml
  elk_metrics_6x/roles/elastic_auditbeat/tasks/auditbeat_setup.yml
  elk_metrics_6x/roles/elastic_data_hosts/tasks/main.yml
  elk_metrics_6x/roles/elastic_filebeat/tasks/filebeat_setup.yml
  elk_metrics_6x/roles/elastic_heartbeat/tasks/heartbeat_setup.yml
  elk_metrics_6x/roles/elastic_journalbeat/tasks/journalbeat_setup.yml
  elk_metrics_6x/roles/elastic_metricbeat/tasks/metricbeat_setup.yml
  elk_metrics_6x/roles/elastic_packetbeat/tasks/packetbeat_setup.yml
Due: openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial, openstack-ansible-ops:elk_metrics_6x-centos-7, openstack-ansible-ops:elk_metrics_6x-centos-7-clustered, openstack-ansible-ops:elk_metrics_6x-opensuse-423, openstack-ansible-ops:elk_metrics_6x-opensuse-423-clustered, openstack-ansible-ops:elk_metrics_6x-ubuntu-trusty, openstack-ansible-ops:elk_metrics_6x-ubuntu-bionic, openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial-clustered, openstack-ansible-ops:elk_metrics_6x-ubuntu-bionic-clustered

Fence options before casting to json
  elk_metrics_6x/roles/elastic_heartbeat/templates/heartbeat.yml.j2
  elk_metrics_6x/templates/_macros.j2
Due: openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial, openstack-ansible-ops:elk_metrics_6x-centos-7, openstack-ansible-ops:elk_metrics_6x-centos-7-clustered, openstack-ansible-ops:elk_metrics_6x-opensuse-423, openstack-ansible-ops:elk_metrics_6x-opensuse-423-clustered, openstack-ansible-ops:elk_metrics_6x-ubuntu-trusty, openstack-ansible-ops:elk_metrics_6x-ubuntu-bionic, openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial-clustered, openstack-ansible-ops:elk_metrics_6x-ubuntu-bionic-clustered

Path conditions:
  openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial: any of: ^elk_metrics_6x/.*
  openstack-ansible-ops:elk_metrics_6x-centos-7: any of: ^elk_metrics_6x/.*
  openstack-ansible-ops:elk_metrics_6x-centos-7-clustered: any of: ^elk_metrics_6x/.*
  openstack-ansible-ops:elk_metrics_6x-opensuse-423: any of: ^elk_metrics_6x/.*
  openstack-ansible-ops:elk_metrics_6x-opensuse-423-clustered: any of: ^elk_metrics_6x/.*
  openstack-ansible-ops:elk_metrics_6x-ubuntu-trusty: any of: ^elk_metrics_6x/.*
  openstack-ansible-ops:elk_metrics_6x-ubuntu-bionic: any of: ^elk_metrics_6x/.*
  openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial-clustered: any of: ^elk_metrics_6x/.*
  openstack-ansible-ops:elk_metrics_6x-ubuntu-bionic-clustered: any of: ^elk_metrics_6x/.*
  openstack-ansible-ops:osquery-ubuntu-xenial: any of: ^osquery/.*
  openstack-ansible-ops:osquery-ubuntu-xenial-clustered: any of: ^osquery/.*
  openstack-ansible-ops:osquery-ubuntu-bionic: any of: ^osquery/.*
  openstack-ansible-ops:osquery-ubuntu-bionic-clustered: any of: ^osquery/.*
