Repository openstack/openstack-ansible-ops: changes, and which Zuul jobs are due for each by the changed paths.
All: openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial, openstack-ansible-ops:elk_metrics_6x-centos-7, openstack-ansible-ops:elk_metrics_6x-centos-7-clustered, openstack-ansible-ops:elk_metrics_6x-opensuse-423, openstack-ansible-ops:elk_metrics_6x-opensuse-423-clustered, openstack-ansible-ops:elk_metrics_6x-ubuntu-trusty, openstack-ansible-ops:elk_metrics_6x-ubuntu-bionic, openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial-clustered, openstack-ansible-ops:elk_metrics_6x-ubuntu-bionic-clustered, openstack-ansible-ops:osquery-ubuntu-xenial, openstack-ansible-ops:osquery-ubuntu-xenial-clustered, openstack-ansible-ops:osquery-ubuntu-bionic, openstack-ansible-ops:osquery-ubuntu-bionic-clustered

openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial:
  parent: base
  description: Runs a gate test on the elk_metrics_6x project.
  run: elk_metrics_6x/tests/test.yml
  post-run: elk_metrics_6x/tests/post-run.yml
  vars:
    osa_test_repo: openstack/openstack-ansible-ops
    test_clustered_elk: false

openstack-ansible-ops:elk_metrics_6x-centos-7:
  parent: openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial
  nodeset: centos-7
  voting: true

openstack-ansible-ops:elk_metrics_6x-centos-7-clustered:
  parent: openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial
  nodeset: centos-7
  voting: false
  vars:
    osa_test_repo: openstack/openstack-ansible-ops
    test_clustered_elk: true

openstack-ansible-ops:elk_metrics_6x-opensuse-423:
  parent: openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial
  nodeset: opensuse-423
  voting: true

openstack-ansible-ops:elk_metrics_6x-opensuse-423-clustered:
  parent: openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial
  nodeset: opensuse-423
  voting: false
  vars:
    osa_test_repo: openstack/openstack-ansible-ops
    test_clustered_elk: true

openstack-ansible-ops:elk_metrics_6x-ubuntu-trusty:
  parent: openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial
  nodeset: ubuntu-trusty
  voting: false

openstack-ansible-ops:elk_metrics_6x-ubuntu-bionic:
  parent: openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial
  nodeset: ubuntu-bionic
  voting: true

openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial-clustered:
  parent: openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial
  voting: false
  vars:
    osa_test_repo: openstack/openstack-ansible-ops
    test_clustered_elk: true

openstack-ansible-ops:elk_metrics_6x-ubuntu-bionic-clustered:
  parent: openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial
  nodeset: ubuntu-bionic
  voting: false
  vars:
    osa_test_repo: openstack/openstack-ansible-ops
    test_clustered_elk: true

openstack-ansible-ops:osquery-ubuntu-xenial:
  parent: base
  description: Runs a gate test on the osquery project.
  run: osquery/tests/test.yml
  post-run: osquery/tests/post-run.yml
  voting: true

openstack-ansible-ops:osquery-ubuntu-xenial-clustered:
  parent: openstack-ansible-ops:osquery-ubuntu-xenial
  nodeset: ubuntu-bionic
  vars:
    osa_test_repo: openstack/openstack-ansible-ops
    test_clustered_kolide: true

openstack-ansible-ops:osquery-ubuntu-bionic:
  parent: openstack-ansible-ops:osquery-ubuntu-xenial
  nodeset: ubuntu-bionic

openstack-ansible-ops:osquery-ubuntu-bionic-clustered:
  parent: openstack-ansible-ops:osquery-ubuntu-xenial
  nodeset: ubuntu-bionic
  vars:
    osa_test_repo: openstack/openstack-ansible-ops
    test_clustered_kolide: true

comment out monitorstack installation for now
  elk_metrics_6x/site.yml
Due: openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial, openstack-ansible-ops:elk_metrics_6x-centos-7, openstack-ansible-ops:elk_metrics_6x-centos-7-clustered, openstack-ansible-ops:elk_metrics_6x-opensuse-423, openstack-ansible-ops:elk_metrics_6x-opensuse-423-clustered, openstack-ansible-ops:elk_metrics_6x-ubuntu-trusty, openstack-ansible-ops:elk_metrics_6x-ubuntu-bionic, openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial-clustered, openstack-ansible-ops:elk_metrics_6x-ubuntu-bionic-clustered

Adds vars file for centos
  multi-node-aio/playbooks/vars/redhat.yml
Due: none

Use updated Ubuntu installer kernels on MNAIO
  multi-node-aio/playbooks/group_vars/all.yml
Due: none

Ensure the default version of Java is set
  elk_metrics_6x/roles/elastic_dependencies/defaults/main.yml
  elk_metrics_6x/roles/elastic_dependencies/tasks/main.yml
Due: openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial, openstack-ansible-ops:elk_metrics_6x-centos-7, openstack-ansible-ops:elk_metrics_6x-centos-7-clustered, openstack-ansible-ops:elk_metrics_6x-opensuse-423, openstack-ansible-ops:elk_metrics_6x-opensuse-423-clustered, openstack-ansible-ops:elk_metrics_6x-ubuntu-trusty, openstack-ansible-ops:elk_metrics_6x-ubuntu-bionic, openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial-clustered, openstack-ansible-ops:elk_metrics_6x-ubuntu-bionic-clustered

Update journalbeat config
  elk_metrics_6x/roles/elastic_journalbeat/templates/journalbeat.yml.j2
Due: openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial, openstack-ansible-ops:elk_metrics_6x-centos-7, openstack-ansible-ops:elk_metrics_6x-centos-7-clustered, openstack-ansible-ops:elk_metrics_6x-opensuse-423, openstack-ansible-ops:elk_metrics_6x-opensuse-423-clustered, openstack-ansible-ops:elk_metrics_6x-ubuntu-trusty, openstack-ansible-ops:elk_metrics_6x-ubuntu-bionic, openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial-clustered, openstack-ansible-ops:elk_metrics_6x-ubuntu-bionic-clustered

Update metricbeat config for the latest release
  elk_metrics_6x/roles/elastic_metricbeat/templates/metricbeat.yml.j2
  elk_metrics_6x/templates/_macros.j2
Due: openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial, openstack-ansible-ops:elk_metrics_6x-centos-7, openstack-ansible-ops:elk_metrics_6x-centos-7-clustered, openstack-ansible-ops:elk_metrics_6x-opensuse-423, openstack-ansible-ops:elk_metrics_6x-opensuse-423-clustered, openstack-ansible-ops:elk_metrics_6x-ubuntu-trusty, openstack-ansible-ops:elk_metrics_6x-ubuntu-bionic, openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial-clustered, openstack-ansible-ops:elk_metrics_6x-ubuntu-bionic-clustered

update packetbeat config for the latest release
  elk_metrics_6x/roles/elastic_packetbeat/templates/packetbeat.yml.j2
  elk_metrics_6x/templates/_macros.j2
Due: openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial, openstack-ansible-ops:elk_metrics_6x-centos-7, openstack-ansible-ops:elk_metrics_6x-centos-7-clustered, openstack-ansible-ops:elk_metrics_6x-opensuse-423, openstack-ansible-ops:elk_metrics_6x-opensuse-423-clustered, openstack-ansible-ops:elk_metrics_6x-ubuntu-trusty, openstack-ansible-ops:elk_metrics_6x-ubuntu-bionic, openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial-clustered, openstack-ansible-ops:elk_metrics_6x-ubuntu-bionic-clustered

Update auditbeat config for the latest stable release
  elk_metrics_6x/roles/elastic_auditbeat/templates/auditbeat.yml.j2
Due: openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial, openstack-ansible-ops:elk_metrics_6x-centos-7, openstack-ansible-ops:elk_metrics_6x-centos-7-clustered, openstack-ansible-ops:elk_metrics_6x-opensuse-423, openstack-ansible-ops:elk_metrics_6x-opensuse-423-clustered, openstack-ansible-ops:elk_metrics_6x-ubuntu-trusty, openstack-ansible-ops:elk_metrics_6x-ubuntu-bionic, openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial-clustered, openstack-ansible-ops:elk_metrics_6x-ubuntu-bionic-clustered

Update heartbeat config for the latest stable release
  elk_metrics_6x/roles/elastic_heartbeat/templates/heartbeat.yml.j2
Due: openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial, openstack-ansible-ops:elk_metrics_6x-centos-7, openstack-ansible-ops:elk_metrics_6x-centos-7-clustered, openstack-ansible-ops:elk_metrics_6x-opensuse-423, openstack-ansible-ops:elk_metrics_6x-opensuse-423-clustered, openstack-ansible-ops:elk_metrics_6x-ubuntu-trusty, openstack-ansible-ops:elk_metrics_6x-ubuntu-bionic, openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial-clustered, openstack-ansible-ops:elk_metrics_6x-ubuntu-bionic-clustered

improve deployments on 14.04
  elk_metrics_6x/roles/elastic_curator/handlers/main.yml
  elk_metrics_6x/roles/elastic_curator/tasks/main.yml
  elk_metrics_6x/roles/elastic_curator/vars/ubuntu-14.04.yml
  elk_metrics_6x/roles/elastic_metricbeat/templates/metricbeat.yml.j2
Due: openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial, openstack-ansible-ops:elk_metrics_6x-centos-7, openstack-ansible-ops:elk_metrics_6x-centos-7-clustered, openstack-ansible-ops:elk_metrics_6x-opensuse-423, openstack-ansible-ops:elk_metrics_6x-opensuse-423-clustered, openstack-ansible-ops:elk_metrics_6x-ubuntu-trusty, openstack-ansible-ops:elk_metrics_6x-ubuntu-bionic, openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial-clustered, openstack-ansible-ops:elk_metrics_6x-ubuntu-bionic-clustered

Fix plugins loading in embedded ansible
  bootstrap-embedded-ansible/bootstrap-embedded-ansible.sh
Due: none

Replace openstack.org git:// URLs with https://
  tests/tests-repo-clone.sh
Due: none

Update .gitreview for stable/stein
  .gitreview
Due: none

doc: drop release notes + fix sphinxmark
  doc/requirements.txt
  doc/source/conf.py
  releasenotes/notes/.placeholder
  releasenotes/source/_static/.placeholder
  releasenotes/source/_templates/.placeholder
  releasenotes/source/conf.py
  releasenotes/source/index.rst
  releasenotes/source/newton.rst
  releasenotes/source/rocky.rst
  releasenotes/source/unreleased.rst
  tox.ini
  zuul.d/project.yaml
Due: none

Updated from OpenStack Ansible Tests
  bindep.txt
  run_tests.sh
Due: none

fix tox python3 overrides
  tox.ini
Due: none

Update UPPER_CONSTRAINTS_FILE for stable/stein
  tox.ini
Due: none

updates for elk6.7x
  elk_metrics_6x/roles/elastic_beat_setup/defaults/main.yml
  elk_metrics_6x/roles/elasticsearch/defaults/main.yml
Due: openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial, openstack-ansible-ops:elk_metrics_6x-centos-7, openstack-ansible-ops:elk_metrics_6x-centos-7-clustered, openstack-ansible-ops:elk_metrics_6x-opensuse-423, openstack-ansible-ops:elk_metrics_6x-opensuse-423-clustered, openstack-ansible-ops:elk_metrics_6x-ubuntu-trusty, openstack-ansible-ops:elk_metrics_6x-ubuntu-bionic, openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial-clustered, openstack-ansible-ops:elk_metrics_6x-ubuntu-bionic-clustered

OpenDev Migration Patch
  .gitreview
Due: none

Updated from OpenStack Ansible Tests
  run_tests.sh
Due: none

Add required isolated flag for gelf-forwarder
  graylog/graylog-forward-logs.yml
Due: none

Skip neutron rebalance if ha-tool is disabled
  leap-upgrades/upgrade-utilities/neutron-remove-old-containers.yml
Due: none

Cap sphinx for py2 to match global requirements
  doc/requirements.txt
Due: none

Updated from OpenStack Ansible Tests
  tests/tests-repo-clone.sh
Due: none

Replace git.openstack.org URLs with opendev.org URLs
  README.rst
  bootstrap-embedded-ansible/ansible-requirements.yml
  cluster_metrics/readme.rst
  doc/source/conf.py
  elk_metrics_6x/ansible-role-requirements.yml
  elk_metrics_6x/tests/ansible-role-requirements.yml
  elk_metrics_6x/tests/run-setup.yml
  generate_requirements/run.sh
  leap-upgrades/lib/vars.sh
  multi-node-aio/README.rst
  multi-node-aio/bootstrap.sh
  multi-node-aio/build.sh
  multi-node-aio/playbooks/deploy-elk.yml
  multi-node-aio/playbooks/deploy-osa.yml
  multi-node-aio/run_tests.sh
  osquery/ansible-role-requirements.yml
  osquery/tests/ansible-role-requirements.yml
  osquery/tests/run-setup.yml
  skydive/ansible-role-requirements.yml
  skydive/tests/ansible-role-requirements.yml
  skydive/tests/functional.yml
  skydive/tests/run-setup.yml
  tox.ini
Due: openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial, openstack-ansible-ops:elk_metrics_6x-centos-7, openstack-ansible-ops:elk_metrics_6x-centos-7-clustered, openstack-ansible-ops:elk_metrics_6x-opensuse-423, openstack-ansible-ops:elk_metrics_6x-opensuse-423-clustered, openstack-ansible-ops:elk_metrics_6x-ubuntu-trusty, openstack-ansible-ops:elk_metrics_6x-ubuntu-bionic, openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial-clustered, openstack-ansible-ops:elk_metrics_6x-ubuntu-bionic-clustered, openstack-ansible-ops:osquery-ubuntu-xenial, openstack-ansible-ops:osquery-ubuntu-xenial-clustered, openstack-ansible-ops:osquery-ubuntu-bionic, openstack-ansible-ops:osquery-ubuntu-bionic-clustered

Correct opendev.org urls
  multi-node-aio/README.rst
  multi-node-aio/bootstrap.sh
  multi-node-aio/build.sh
  multi-node-aio/playbooks/deploy-elk.yml
  multi-node-aio/playbooks/deploy-osa.yml
  multi-node-aio/run_tests.sh
  skydive/tests/functional.yml
Due: none

Path conditions:
  openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial: any of: ^elk_metrics_6x/.*
  openstack-ansible-ops:elk_metrics_6x-centos-7: any of: ^elk_metrics_6x/.*
  openstack-ansible-ops:elk_metrics_6x-centos-7-clustered: any of: ^elk_metrics_6x/.*
  openstack-ansible-ops:elk_metrics_6x-opensuse-423: any of: ^elk_metrics_6x/.*
  openstack-ansible-ops:elk_metrics_6x-opensuse-423-clustered: any of: ^elk_metrics_6x/.*
  openstack-ansible-ops:elk_metrics_6x-ubuntu-trusty: any of: ^elk_metrics_6x/.*
  openstack-ansible-ops:elk_metrics_6x-ubuntu-bionic: any of: ^elk_metrics_6x/.*
  openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial-clustered: any of: ^elk_metrics_6x/.*
  openstack-ansible-ops:elk_metrics_6x-ubuntu-bionic-clustered: any of: ^elk_metrics_6x/.*
  openstack-ansible-ops:osquery-ubuntu-xenial: any of: ^osquery/.*
  openstack-ansible-ops:osquery-ubuntu-xenial-clustered: any of: ^osquery/.*
  openstack-ansible-ops:osquery-ubuntu-bionic: any of: ^osquery/.*
  openstack-ansible-ops:osquery-ubuntu-bionic-clustered: any of: ^osquery/.*
