Repository openstack/openstack-ansible-ops: changes, and which Zuul jobs are due for each by the changed paths.
All: openstack-ansible-ops:elk_metrics_7x-ubuntu-focal, openstack-ansible-ops:elk_metrics_7x-ubuntu-jammy, openstack-ansible-ops:osquery-ubuntu-jammy, openstack-ansible-ops:skydive-ubuntu-jammy, openstack-ansible-deploy-aio_magnum_octavia_capi_kvm_ops-ubuntu-jammy-v1.29.6, openstack-ansible-deploy-aio_magnum_octavia_capi_kvm_ops-ubuntu-jammy-v1.30.2, openstack-ansible-deploy-aio_magnum_octavia_capi_kvm_ops-ubuntu-jammy-v1.31.1, openstack-ansible-deploy-aio_magnum_octavia_capi_kvm_ops-ubuntu-jammy

openstack-ansible-ops:elk_metrics_7x-ubuntu-focal:
  parent: base
  nodeset: ubuntu-focal
  description: Runs a gate test on the elk_metrics_7x project.
  run: elk_metrics_7x/tests/test.yml
  post-run: elk_metrics_7x/tests/post-run.yml
  vars:
    osa_test_repo: openstack/openstack-ansible-ops
    test_clustered_elk: false

openstack-ansible-ops:elk_metrics_7x-ubuntu-jammy:
  parent: openstack-ansible-ops:elk_metrics_7x-ubuntu-focal
  nodeset: ubuntu-focal

openstack-ansible-ops:osquery-ubuntu-jammy:
  parent: base
  nodeset: ubuntu-jammy
  description: Runs a gate test on the osquery project.
  run: osquery/tests/test.yml
  post-run: osquery/tests/post-run.yml
  voting: true

openstack-ansible-ops:skydive-ubuntu-jammy:
  parent: base
  nodeset: ubuntu-jammy
  description: Runs a gate test on the skydive project.
  run: skydive/tests/test.yml
  post-run: skydive/tests/post-run.yml
  voting: false

openstack-ansible-deploy-aio_magnum_octavia_capi_kvm_ops-ubuntu-jammy-v1.29.6:
  parent: openstack-ansible-deploy-aio_magnum_octavia_capi_kvm_ops-ubuntu-jammy
  vars:
    mcapi_vexxhost_extra_user_variables:
    - path: /etc/openstack_deploy/user_variables_z_magnum.yml
      block: 'functional_test_k8s_version: ''v1.29.6''
  
  ...

openstack-ansible-deploy-aio_magnum_octavia_capi_kvm_ops-ubuntu-jammy-v1.30.2:
  parent: openstack-ansible-deploy-aio_magnum_octavia_capi_kvm_ops-ubuntu-jammy
  vars:
    mcapi_vexxhost_extra_user_variables:
    - path: /etc/openstack_deploy/user_variables_z_magnum.yml
      block: 'functional_test_k8s_version: ''v1.30.2''
  
  ...

openstack-ansible-deploy-aio_magnum_octavia_capi_kvm_ops-ubuntu-jammy-v1.31.1:
  parent: openstack-ansible-deploy-aio_magnum_octavia_capi_kvm_ops-ubuntu-jammy
  vars:
    mcapi_vexxhost_extra_user_variables:
    - path: /etc/openstack_deploy/user_variables_z_magnum.yml
      block: 'functional_test_k8s_version: ''v1.31.1''
  
  ...

openstack-ansible-deploy-aio_magnum_octavia_capi_kvm_ops-ubuntu-jammy:
  parent: openstack-ansible-deploy-aio_magnum_octavia_capi_kvm-ubuntu-jammy

Update .gitreview for stable/2025.1
  .gitreview
Due: none

Update TOX_CONSTRAINTS_FILE for stable/2025.1
  tox.ini
Due: none

Bump Ansible version to 11 for ELK
  elk_metrics_7x/tests/functional.yml
  zuul.d/jobs.yaml
  zuul.d/project.yaml
Due: openstack-ansible-ops:elk_metrics_7x-ubuntu-focal, openstack-ansible-ops:elk_metrics_7x-ubuntu-jammy

Fix path for collecting nginx status with metricbeat.
  elk_metrics_7x/roles/elastic_metricbeat/templates/metricbeat.yml.j2
Due: openstack-ansible-ops:elk_metrics_7x-ubuntu-focal, openstack-ansible-ops:elk_metrics_7x-ubuntu-jammy

Bump prometheus.prometheus to 0.26.2
  prometheus/README.rst
  prometheus/requirements.yml
Due: none

grafana.grafana works without ansible fact vars
  grafana/README.rst
  grafana/installGrafana.yml
  grafana/requirements.yml
  grafana/roles/make_traefik
  grafana/roles/traefik_common
  grafana/vars/variables.yml
Due: none

Refactor "remove_compute_node" playbook
  ansible_tools/playbooks/remove_compute_node.yml
Due: none

Bump prometheus.prometheus to 0.27.0
  prometheus/requirements.yml
Due: none

Replaced usage outdate egrep to grep
  leap-upgrades/upgrade-utilities-newton/playbooks/galera-cluster-rolling-restart.yml
  scripts/log-collect.sh
Due: none

tox: Remove ineffective ignore_basepython_conflict and bump minimum version
  tox.ini
Due: none

Move set-haproxy-backends-state content to collection
  ansible_tools/playbooks/set-haproxy-backends-state.yml
Due: none

Remove deprecated run_tests
  run_tests.sh
Due: none

Remove functional test environments from tox.ini
  tox.ini
Due: none

fix Grafana database configuration and deb822 repositories
  grafana/installGrafana.yml
  grafana/requirements.yml
Due: none

Update .gitreview for unmaintained/2024.1
  .gitreview
Due: none

tox: remove linters from envlist
  tox.ini
Due: none

Update .gitreview for stable/2025.2
  .gitreview
Due: none

Update TOX_CONSTRAINTS_FILE for stable/2025.2
  tox.ini
Due: none

Update mcapi to test against latest versions
  mcapi_vexxhost/README.rst
  mcapi_vexxhost/playbooks/files/examples/k8s.yml
  mcapi_vexxhost/playbooks/files/examples/user-collection-requirements.yml
  mcapi_vexxhost/playbooks/files/k8s-ha/conf.d/k8s.yml
  mcapi_vexxhost/playbooks/files/openstack_deploy/env.d/k8s.yml
  mcapi_vexxhost/playbooks/files/openstack_deploy/group_vars/k8s_all/main.yml
  mcapi_vexxhost/playbooks/files/openstack_deploy/group_vars/magnum_all/main.yml
  mcapi_vexxhost/playbooks/files/openstack_deploy/user-collection-requirements.yml
  mcapi_vexxhost/playbooks/functional_test.yml
  mcapi_vexxhost/playbooks/mcapi_control_plane_k8s.yml
  mcapi_vexxhost/playbooks/mcapi_magnum_integration.yml
  mcapi_vexxhost/roles/rust/defaults/main.yml
  mcapi_vexxhost/roles/rust/tasks/main.yml
  mcapi_vexxhost/roles/rust/vars/debian.yml
  mcapi_vexxhost/roles/rust/vars/redhat.yml
  mcapi_vexxhost/roles/rust/vars/ubuntu.yml
  zuul.d/jobs.yaml
  zuul.d/project.yaml
Due: openstack-ansible-deploy-aio_magnum_octavia_capi_kvm_ops-ubuntu-jammy-v1.29.6, openstack-ansible-deploy-aio_magnum_octavia_capi_kvm_ops-ubuntu-jammy-v1.30.2, openstack-ansible-deploy-aio_magnum_octavia_capi_kvm_ops-ubuntu-jammy-v1.31.1, openstack-ansible-deploy-aio_magnum_octavia_capi_kvm_ops-ubuntu-jammy

Bump prometheus.prometheus to 0.27.5
  prometheus/requirements.yml
Due: none

embedded ansible - remove install packages for suse and python 2
  bootstrap-embedded-ansible/bootstrap-embedded-ansible.sh
Due: openstack-ansible-ops:elk_metrics_7x-ubuntu-focal, openstack-ansible-ops:elk_metrics_7x-ubuntu-jammy, openstack-ansible-ops:osquery-ubuntu-jammy, openstack-ansible-ops:skydive-ubuntu-jammy

Update for CONTRIBUTING.rst file
  CONTRIBUTING.rst
Due: none

mcapi_proxy: notify handler on k8s config change
  mcapi_vexxhost/roles/proxy/handlers/main.yml
  mcapi_vexxhost/roles/proxy/tasks/main.yml
Due: openstack-ansible-deploy-aio_magnum_octavia_capi_kvm_ops-ubuntu-jammy-v1.29.6, openstack-ansible-deploy-aio_magnum_octavia_capi_kvm_ops-ubuntu-jammy-v1.30.2, openstack-ansible-deploy-aio_magnum_octavia_capi_kvm_ops-ubuntu-jammy-v1.31.1, openstack-ansible-deploy-aio_magnum_octavia_capi_kvm_ops-ubuntu-jammy

Add backup capability to Cluster API setup
  mcapi_vexxhost/playbooks/files/openstack_deploy/group_vars/k8s_all/main.yml
  mcapi_vexxhost/playbooks/files/scripts/export-cluster-api-state.sh
  mcapi_vexxhost/playbooks/files/scripts/import-cluster-api-state.sh
  mcapi_vexxhost/playbooks/mcapi_control_plane_k8s.yml
Due: openstack-ansible-deploy-aio_magnum_octavia_capi_kvm_ops-ubuntu-jammy-v1.29.6, openstack-ansible-deploy-aio_magnum_octavia_capi_kvm_ops-ubuntu-jammy-v1.30.2, openstack-ansible-deploy-aio_magnum_octavia_capi_kvm_ops-ubuntu-jammy-v1.31.1, openstack-ansible-deploy-aio_magnum_octavia_capi_kvm_ops-ubuntu-jammy

mcapi: create rust config directory when necessary
  mcapi_vexxhost/roles/rust/tasks/main.yml
Due: openstack-ansible-deploy-aio_magnum_octavia_capi_kvm_ops-ubuntu-jammy-v1.29.6, openstack-ansible-deploy-aio_magnum_octavia_capi_kvm_ops-ubuntu-jammy-v1.30.2, openstack-ansible-deploy-aio_magnum_octavia_capi_kvm_ops-ubuntu-jammy-v1.31.1, openstack-ansible-deploy-aio_magnum_octavia_capi_kvm_ops-ubuntu-jammy

log-collect.sh - remove outdated code
  scripts/log-collect.sh
Due: none

Remove obsolete image generation script
  scripts/generate-images.sh
Due: none

Remove obsolete flavors generation script
  scripts/generate-flavors.sh
Due: none

Update outdate information in bindep.txt
  bindep.txt
Due: none

Remove unused Makefile
  doc/Makefile
Due: none

Pin setuptools via global-requirement-pins.txt
  tox.ini
Due: none

Bump prometheus.prometheus to 0.28.0
  prometheus/requirements.yml
Due: none

Bump prometheus.prometheus collection to 0.29.1
  prometheus/requirements.yml
Due: none

Updated from OpenStack Ansible Integrated repository
  .gitignore
  bindep.txt
Due: none

Move k8s cluster installation to main OSA repo
  mcapi_vexxhost/README.rst
  mcapi_vexxhost/assets/mcapi-architecture.png
  mcapi_vexxhost/doc/source/README.rst
  mcapi_vexxhost/galaxy.yml
  mcapi_vexxhost/playbooks/bootstrap.yml
  mcapi_vexxhost/playbooks/control_plane_conformance_test.yml
  mcapi_vexxhost/playbooks/files/examples/k8s.yml
  mcapi_vexxhost/playbooks/files/examples/user-collection-requirements.yml
  mcapi_vexxhost/playbooks/files/k8s-ha/user_variables_hooks.yml
  mcapi_vexxhost/playbooks/files/openstack_deploy/group_vars/k8s_all/haproxy_service.yml
  mcapi_vexxhost/playbooks/files/openstack_deploy/group_vars/k8s_all/main.yml
  mcapi_vexxhost/playbooks/files/openstack_deploy/group_vars/magnum_all/main.yml
  mcapi_vexxhost/playbooks/files/openstack_deploy/user-ansible-venv-requirements.txt
  mcapi_vexxhost/playbooks/files/openstack_deploy/user_variables_hooks.yml
  mcapi_vexxhost/playbooks/files/openstack_deploy/user_variables_tempest.yml
  mcapi_vexxhost/playbooks/files/openstack_deploy/user_variables_z_magnum.yml
  mcapi_vexxhost/playbooks/files/scripts/export-cluster-api-state.sh
  mcapi_vexxhost/playbooks/files/scripts/import-cluster-api-state.sh
  mcapi_vexxhost/playbooks/functional_test.yml
  mcapi_vexxhost/playbooks/install_and_test.yml
  mcapi_vexxhost/playbooks/k8s_install.yml
  mcapi_vexxhost/playbooks/mcapi_control_plane_k8s.yml
  mcapi_vexxhost/playbooks/mcapi_magnum_integration.yml
  mcapi_vexxhost/playbooks/mcapi_proxy.yml
  mcapi_vexxhost/playbooks/sonobuoy.yml
  mcapi_vexxhost/roles/proxy/defaults/main.yml
  mcapi_vexxhost/roles/proxy/handlers/main.yml
  mcapi_vexxhost/roles/proxy/tasks/main.yml
  mcapi_vexxhost/roles/proxy/templates/capi_sudoers.j2
  mcapi_vexxhost/roles/rust/defaults/main.yml
  mcapi_vexxhost/roles/rust/tasks/main.yml
  mcapi_vexxhost/roles/rust/vars/debian.yml
  mcapi_vexxhost/roles/rust/vars/redhat.yml
  mcapi_vexxhost/roles/rust/vars/ubuntu.yml
  mcapi_vexxhost/roles/sonobuoy/defaults/main.yml
  mcapi_vexxhost/roles/sonobuoy/meta/main.yml
  mcapi_vexxhost/roles/sonobuoy/tasks/main.yml
  zuul.d/jobs.yaml
  zuul.d/project.yaml
Due: openstack-ansible-deploy-aio_magnum_octavia_capi_kvm_ops-ubuntu-jammy-v1.29.6, openstack-ansible-deploy-aio_magnum_octavia_capi_kvm_ops-ubuntu-jammy-v1.30.2, openstack-ansible-deploy-aio_magnum_octavia_capi_kvm_ops-ubuntu-jammy-v1.31.1, openstack-ansible-deploy-aio_magnum_octavia_capi_kvm_ops-ubuntu-jammy

Update .gitreview for stable/2026.1
  .gitreview
Due: none

Update TOX_CONSTRAINTS_FILE for stable/2026.1
  tox.ini
Due: none

Remove verify playbook override
  encrypt_secrets/molecule/default/molecule.yml
  encrypt_secrets/molecule/default/verify.yml
Due: none

Add boilerplate for observability collection
  observability/README.rst
  observability/galaxy.yml
Due: none

Grafana: fix db creation, remove built-in plugin, refresh and introduce install docs
  doc/source/index.rst
  doc/source/observability.rst
  grafana/README.rst
  grafana/conf.d/grafana.yml
  grafana/installGrafana.yml
  grafana/inventory.example.yml
  grafana/requirements.yml
  grafana/vars/variables.yml
  observability/README.rst
  observability/conf.d/grafana.yml.example
  observability/env.d/grafana.yml
  observability/galaxy.yml
  observability/molecule/default/converge.yml
  observability/molecule/default/molecule.yml
  observability/molecule/default/prepare.yml
  observability/molecule/default/test-role-requirements.yml
  observability/molecule/default/verify.yml
  observability/playbooks/grafana.yml
  observability/playbooks/group_vars/grafana_all/haproxy.yml
  observability/playbooks/group_vars/grafana_all/vars.yml
  observability/requirements.yml
  observability/roles/grafana/defaults/main.yml
  observability/roles/grafana/tasks/main.yml
  observability/roles/grafana/templates/grafana-wait.py.j2
  releasenotes/notes/grafan-install-fix-c13773ad6070a72d.yaml
  tox.ini
  zuul.d/jobs.yaml
  zuul.d/project.yaml
Due: none

Path conditions:
  openstack-ansible-ops:elk_metrics_7x-ubuntu-focal: any of: ^elk_metrics_7x/.*, ^bootstrap-embedded-ansible/.*
  openstack-ansible-ops:elk_metrics_7x-ubuntu-jammy: any of: ^elk_metrics_7x/.*, ^bootstrap-embedded-ansible/.*
  openstack-ansible-ops:osquery-ubuntu-jammy: any of: ^osquery/.*, ^bootstrap-embedded-ansible/.*
  openstack-ansible-ops:skydive-ubuntu-jammy: any of: ^skydive/.*, ^bootstrap-embedded-ansible/.*
  openstack-ansible-deploy-aio_magnum_octavia_capi_kvm_ops-ubuntu-jammy-v1.29.6: any of: ^mcapi_vexxhost/.*
  openstack-ansible-deploy-aio_magnum_octavia_capi_kvm_ops-ubuntu-jammy-v1.30.2: any of: ^mcapi_vexxhost/.*
  openstack-ansible-deploy-aio_magnum_octavia_capi_kvm_ops-ubuntu-jammy-v1.31.1: any of: ^mcapi_vexxhost/.*
  openstack-ansible-deploy-aio_magnum_octavia_capi_kvm_ops-ubuntu-jammy: any of: ^mcapi_vexxhost/.*
