Repository openstack/openstack-ansible-ops: changes, and which Zuul jobs are due for each by the changed paths.
All: openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial, openstack-ansible-ops:elk_metrics_6x-centos-7, openstack-ansible-ops:elk_metrics_6x-centos-7-clustered, openstack-ansible-ops:elk_metrics_6x-opensuse-423, openstack-ansible-ops:elk_metrics_6x-opensuse-423-clustered, openstack-ansible-ops:elk_metrics_6x-ubuntu-trusty, openstack-ansible-ops:elk_metrics_6x-ubuntu-bionic, openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial-clustered, openstack-ansible-ops:elk_metrics_6x-ubuntu-bionic-clustered, openstack-ansible-ops:osquery-ubuntu-xenial, openstack-ansible-ops:osquery-ubuntu-xenial-clustered, openstack-ansible-ops:osquery-ubuntu-bionic, openstack-ansible-ops:osquery-ubuntu-bionic-clustered

zuul.d/jobs.yaml:

---
# Copyright 2018, Rackspace US, Inc.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

- job:
    name: "openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial"
    parent: base
    description: "Runs a gate test on the elk_metrics_6x project."
    run: "elk_metrics_6x/tests/test.yml"
    post-run: "elk_metrics_6x/tests/post-run.yml"
    files:
      - ^elk_metrics_6x/.*
    vars:
      osa_test_repo: "openstack/openstack-ansible-ops"
      test_clustered_elk: false

- job:
    name: "openstack-ansible-ops:elk_metrics_6x-centos-7"
    parent: "openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial"
    nodeset: centos-7
    voting: true

- job:
    name: "openstack-ansible-ops:elk_metrics_6x-centos-7-clustered"
    parent: "openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial"
    nodeset: centos-7
    voting: false
    vars:
      osa_test_repo: "openstack/openstack-ansible-ops"
      test_clustered_elk: true

- job:
    name: "openstack-ansible-ops:elk_metrics_6x-opensuse-423"
    parent: "openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial"
    nodeset: opensuse-423
    voting: true

- job:
    name: "openstack-ansible-ops:elk_metrics_6x-opensuse-423-clustered"
    parent: "openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial"
    nodeset: opensuse-423
    voting: false
    vars:
      osa_test_repo: "openstack/openstack-ansible-ops"
      test_clustered_elk: true

- job:
    name: "openstack-ansible-ops:elk_metrics_6x-ubuntu-trusty"
    parent: "openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial"
    nodeset: ubuntu-trusty
    voting: false

- job:
    name: "openstack-ansible-ops:elk_metrics_6x-ubuntu-bionic"
    parent: "openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial"
    nodeset: ubuntu-bionic
    voting: true

- job:
    name: "openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial-clustered"
    parent: "openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial"
    voting: false
    vars:
      osa_test_repo: "openstack/openstack-ansible-ops"
      test_clustered_elk: true

- job:
    name: "openstack-ansible-ops:elk_metrics_6x-ubuntu-bionic-clustered"
    parent: "openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial"
    nodeset: ubuntu-bionic
    voting: false
    vars:
      osa_test_repo: "openstack/openstack-ansible-ops"
      test_clustered_elk: true

- job:
    name: "openstack-ansible-ops:osquery-ubuntu-xenial"
    parent: base
    description: "Runs a gate test on the osquery project."
    run: "osquery/tests/test.yml"
    post-run: "osquery/tests/post-run.yml"
    voting: true
    files:
      - ^osquery/.*

- job:
    name: "openstack-ansible-ops:osquery-ubuntu-xenial-clustered"
    parent: "openstack-ansible-ops:osquery-ubuntu-xenial"
    nodeset: ubuntu-bionic
    vars:
      osa_test_repo: "openstack/openstack-ansible-ops"
      test_clustered_kolide: true

- job:
    name: "openstack-ansible-ops:osquery-ubuntu-bionic"
    parent: "openstack-ansible-ops:osquery-ubuntu-xenial"
    nodeset: ubuntu-bionic

- job:
    name: "openstack-ansible-ops:osquery-ubuntu-bionic-clustered"
    parent: "openstack-ansible-ops:osquery-ubuntu-xenial"
    nodeset: ubuntu-bionic
    vars:
      osa_test_repo: "openstack/openstack-ansible-ops"
      test_clustered_kolide: true

Convert template setup to a role
  elk_metrics_6x/installAPMserver.yml
  elk_metrics_6x/installAuditbeat.yml
  elk_metrics_6x/installFilebeat.yml
  elk_metrics_6x/installHeartbeat.yml
  elk_metrics_6x/installJournalbeat.yml
  elk_metrics_6x/installMetricbeat.yml
  elk_metrics_6x/installPacketbeat.yml
  elk_metrics_6x/roles/elastic_apm_server/tasks/apm_setup.yml
  elk_metrics_6x/roles/elastic_apm_server/tasks/main.yml
  elk_metrics_6x/roles/elastic_apm_server/templates/apm-server.yml.j2
  elk_metrics_6x/roles/elastic_auditbeat/tasks/auditbeat_setup.yml
  elk_metrics_6x/roles/elastic_auditbeat/tasks/main.yml
  elk_metrics_6x/roles/elastic_auditbeat/templates/auditbeat.yml.j2
  elk_metrics_6x/roles/elastic_beat_setup/defaults/main.yml
  elk_metrics_6x/roles/elastic_beat_setup/meta/main.yml
  elk_metrics_6x/roles/elastic_beat_setup/tasks/main.yml
  elk_metrics_6x/roles/elastic_data_hosts/vars/data-node-variables.yml
  elk_metrics_6x/roles/elastic_filebeat/tasks/filebeat_setup.yml
  elk_metrics_6x/roles/elastic_filebeat/tasks/main.yml
  elk_metrics_6x/roles/elastic_filebeat/templates/filebeat.yml.j2
  elk_metrics_6x/roles/elastic_heartbeat/tasks/heartbeat_setup.yml
  elk_metrics_6x/roles/elastic_heartbeat/tasks/main.yml
  elk_metrics_6x/roles/elastic_heartbeat/templates/heartbeat.yml.j2
  elk_metrics_6x/roles/elastic_journalbeat/tasks/main.yml
  elk_metrics_6x/roles/elastic_journalbeat/templates/journalbeat.yml.j2
  elk_metrics_6x/roles/elastic_metricbeat/tasks/main.yml
  elk_metrics_6x/roles/elastic_metricbeat/tasks/metricbeat_setup.yml
  elk_metrics_6x/roles/elastic_metricbeat/templates/metricbeat.yml.j2
  elk_metrics_6x/roles/elastic_packetbeat/tasks/main.yml
  elk_metrics_6x/roles/elastic_packetbeat/tasks/packetbeat_setup.yml
  elk_metrics_6x/roles/elastic_packetbeat/templates/packetbeat.yml.j2
Due: openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial, openstack-ansible-ops:elk_metrics_6x-centos-7, openstack-ansible-ops:elk_metrics_6x-centos-7-clustered, openstack-ansible-ops:elk_metrics_6x-opensuse-423, openstack-ansible-ops:elk_metrics_6x-opensuse-423-clustered, openstack-ansible-ops:elk_metrics_6x-ubuntu-trusty, openstack-ansible-ops:elk_metrics_6x-ubuntu-bionic, openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial-clustered, openstack-ansible-ops:elk_metrics_6x-ubuntu-bionic-clustered

Add pretasks to exit quick when needed
  elk_metrics_6x/installJournalbeat.yml
Due: openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial, openstack-ansible-ops:elk_metrics_6x-centos-7, openstack-ansible-ops:elk_metrics_6x-centos-7-clustered, openstack-ansible-ops:elk_metrics_6x-opensuse-423, openstack-ansible-ops:elk_metrics_6x-opensuse-423-clustered, openstack-ansible-ops:elk_metrics_6x-ubuntu-trusty, openstack-ansible-ops:elk_metrics_6x-ubuntu-bionic, openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial-clustered, openstack-ansible-ops:elk_metrics_6x-ubuntu-bionic-clustered

Update the embedded-ansible-setup process to be configurable
  bootstrap-embedded-ansible/README.rst
  bootstrap-embedded-ansible/ansible-requirements.yml
  bootstrap-embedded-ansible/bootstrap-embedded-ansible.sh
  bootstrap-embedded-ansible/embedded-ansible-setup.yml
  bootstrap-embedded-ansible/osa-inventory.sh
  bootstrap-embedded-ansible/python-requirements.txt
  elk_metrics_6x/roles/elastic_apm_server/tasks/main.yml
  elk_metrics_6x/roles/elastic_auditbeat/tasks/main.yml
  elk_metrics_6x/roles/elastic_curator/tasks/curator_systemd.yml
  elk_metrics_6x/roles/elastic_filebeat/tasks/main.yml
  elk_metrics_6x/roles/elastic_heartbeat/tasks/main.yml
  elk_metrics_6x/roles/elastic_journalbeat/tasks/main.yml
  elk_metrics_6x/roles/elastic_logstash/tasks/main.yml
  elk_metrics_6x/roles/elastic_metricbeat/tasks/main.yml
  elk_metrics_6x/roles/elastic_packetbeat/tasks/main.yml
  elk_metrics_6x/tests/functional.yml
  osquery/roles/fleet/tasks/fleetService.yml
  osquery/roles/fleet/tasks/main.yml
  osquery/tests/functional.yml
Due: openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial, openstack-ansible-ops:elk_metrics_6x-centos-7, openstack-ansible-ops:elk_metrics_6x-centos-7-clustered, openstack-ansible-ops:elk_metrics_6x-opensuse-423, openstack-ansible-ops:elk_metrics_6x-opensuse-423-clustered, openstack-ansible-ops:elk_metrics_6x-ubuntu-trusty, openstack-ansible-ops:elk_metrics_6x-ubuntu-bionic, openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial-clustered, openstack-ansible-ops:elk_metrics_6x-ubuntu-bionic-clustered, openstack-ansible-ops:osquery-ubuntu-xenial, openstack-ansible-ops:osquery-ubuntu-xenial-clustered, openstack-ansible-ops:osquery-ubuntu-bionic, openstack-ansible-ops:osquery-ubuntu-bionic-clustered

remove dynamic ns.enable generators
  elk_metrics_6x/roles/elastic_packetbeat/templates/packetbeat.yml.j2
Due: openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial, openstack-ansible-ops:elk_metrics_6x-centos-7, openstack-ansible-ops:elk_metrics_6x-centos-7-clustered, openstack-ansible-ops:elk_metrics_6x-opensuse-423, openstack-ansible-ops:elk_metrics_6x-opensuse-423-clustered, openstack-ansible-ops:elk_metrics_6x-ubuntu-trusty, openstack-ansible-ops:elk_metrics_6x-ubuntu-bionic, openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial-clustered, openstack-ansible-ops:elk_metrics_6x-ubuntu-bionic-clustered

Improve the documentation for skydive
  skydive/README.md
  skydive/inventory/osa-integration-inventory.yml
  skydive/roles/skydive_agent/defaults/main.yml
  skydive/roles/skydive_analyzer/defaults/main.yml
  skydive/roles/skydive_analyzer/meta/main.yml
  skydive/roles/skydive_common/defaults/main.yml
  skydive/roles/skydive_common/templates/skydive.yml.j2
  skydive/roles/traefik_common/tasks/traefik_setup.yml
  skydive/validateSkydive.yml
Due: none

Add mnaio_data_disk_suffix var to support NVMe partition naming
  multi-node-aio/README.rst
  multi-node-aio/playbooks/group_vars/all.yml
  multi-node-aio/playbooks/setup-host.yml
Due: none

README cleanup and additional notes about limits
  skydive/README.md
  skydive/roles/skydive_common/templates/skydive.yml.j2
  skydive/roles/skydive_common/vars/main.yml
Due: none

Add a default retention policy for skydive indexes
  elk_metrics_6x/roles/elastic_curator/templates/curator-actions-age.yml.j2
  elk_metrics_6x/roles/elastic_curator/templates/curator-actions-size.yml.j2
  elk_metrics_6x/roles/elastic_retention/defaults/main.yml
  skydive/inventory/osa-integration-inventory.yml
Due: openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial, openstack-ansible-ops:elk_metrics_6x-centos-7, openstack-ansible-ops:elk_metrics_6x-centos-7-clustered, openstack-ansible-ops:elk_metrics_6x-opensuse-423, openstack-ansible-ops:elk_metrics_6x-opensuse-423-clustered, openstack-ansible-ops:elk_metrics_6x-ubuntu-trusty, openstack-ansible-ops:elk_metrics_6x-ubuntu-bionic, openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial-clustered, openstack-ansible-ops:elk_metrics_6x-ubuntu-bionic-clustered

Add project directory to overlay inventories
  grafana/ansible-role-requirements.yml
  grafana/installGrafana.yml
  grafana/inventory.example.yml
  grafana/site.yml
  osquery/env.d/fleet.yml
  osquery/installDB.yml
  osquery/installOSquery.yml
  osquery/roles/fleet/tasks/createFleetDB.yml
  osquery/tests/inventory/test-container-inventory.yml
  osquery/tests/inventory/test-metal-inventory.yml
  overlay-inventories/README.md
  overlay-inventories/osa-integration-inventory.yml
  skydive/README.md
  skydive/inventory/osa-integration-inventory.yml
Due: openstack-ansible-ops:osquery-ubuntu-xenial, openstack-ansible-ops:osquery-ubuntu-xenial-clustered, openstack-ansible-ops:osquery-ubuntu-bionic, openstack-ansible-ops:osquery-ubuntu-bionic-clustered

Ignore deactivate not existing error
  bootstrap-embedded-ansible/bootstrap-embedded-ansible.sh
Due: none

Add openstack integration to skydive
  skydive/README.md
  skydive/installSkydive.yml
  skydive/roles/skydive_common/defaults/main.yml
  skydive/roles/skydive_common/tasks/main.yml
  skydive/roles/skydive_common/tasks/skydive_keystone.yml
  skydive/roles/skydive_common/templates/skydive.yml.j2
Due: none

Update readme and make commands
  skydive/README.md
  skydive/roles/make_skydive/defaults/main.yml
  skydive/roles/make_skydive/tasks/main.yml
Due: none

Disable opencontrail build option for skydive
  skydive/roles/make_skydive/defaults/main.yml
Due: none

Remove stickiness config from traefik backends
  skydive/roles/traefik_common/templates/traefik.toml.j2
Due: none

Allow skydive keystone service setup from an alternate host
  skydive/roles/skydive_common/defaults/main.yml
  skydive/roles/skydive_common/tasks/main.yml
  skydive/roles/skydive_common/tasks/skydive_keystone.yml
Due: none

Update skydive to use TLS
  skydive/installSkydive.yml
  skydive/roles/skydive_common/defaults/main.yml
  skydive/roles/skydive_common/tasks/main.yml
  skydive/roles/skydive_common/tasks/skydive_keystone.yml
  skydive/roles/skydive_common/tasks/skydive_setup.yml
  skydive/roles/skydive_common/tasks/skydive_ssl.yml
  skydive/roles/skydive_common/templates/skydive-openssl.cnf.j2
  skydive/roles/skydive_common/templates/skydive.yml.j2
  skydive/roles/skydive_common/vars/debian.yml
  skydive/roles/skydive_common/vars/main.yml
  skydive/roles/skydive_common/vars/redhat.yml
  skydive/roles/skydive_common/vars/suse.yml
  skydive/validateSkydive.yml
Due: none

Update conditionals and namespaced options
  elk_metrics_6x/roles/elastic_curator/tasks/curator_systemd.yml
  elk_metrics_6x/roles/elastic_dependencies/tasks/main.yml
  osquery/README.rst
  osquery/installDB.yml
  osquery/roles/fleet/tasks/createFleetDB.yml
  osquery/tests/test-vars.yml
  overlay-inventories/osa-integration-inventory.yml
  skydive/roles/skydive_common/tasks/skydive_keystone.yml
Due: openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial, openstack-ansible-ops:elk_metrics_6x-centos-7, openstack-ansible-ops:elk_metrics_6x-centos-7-clustered, openstack-ansible-ops:elk_metrics_6x-opensuse-423, openstack-ansible-ops:elk_metrics_6x-opensuse-423-clustered, openstack-ansible-ops:elk_metrics_6x-ubuntu-trusty, openstack-ansible-ops:elk_metrics_6x-ubuntu-bionic, openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial-clustered, openstack-ansible-ops:elk_metrics_6x-ubuntu-bionic-clustered, openstack-ansible-ops:osquery-ubuntu-xenial, openstack-ansible-ops:osquery-ubuntu-xenial-clustered, openstack-ansible-ops:osquery-ubuntu-bionic, openstack-ansible-ops:osquery-ubuntu-bionic-clustered

Fix the misspelling of "container"
  elk_metrics_6x/tests/functional.yml
  elk_metrics_6x/tests/run-setup.yml
  osquery/tests/functional.yml
  osquery/tests/run-setup.yml
Due: openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial, openstack-ansible-ops:elk_metrics_6x-centos-7, openstack-ansible-ops:elk_metrics_6x-centos-7-clustered, openstack-ansible-ops:elk_metrics_6x-opensuse-423, openstack-ansible-ops:elk_metrics_6x-opensuse-423-clustered, openstack-ansible-ops:elk_metrics_6x-ubuntu-trusty, openstack-ansible-ops:elk_metrics_6x-ubuntu-bionic, openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial-clustered, openstack-ansible-ops:elk_metrics_6x-ubuntu-bionic-clustered, openstack-ansible-ops:osquery-ubuntu-xenial, openstack-ansible-ops:osquery-ubuntu-xenial-clustered, openstack-ansible-ops:osquery-ubuntu-bionic, openstack-ansible-ops:osquery-ubuntu-bionic-clustered

Update delegated setup hosts to support IP delegation
  skydive/buildSkydive.yml
  skydive/buildTraefik.yml
  skydive/installSkydive.yml
  skydive/roles/skydive_analyzer/meta/main.yml
  skydive/roles/skydive_common/defaults/main.yml
  skydive/roles/skydive_common/tasks/main.yml
  skydive/roles/skydive_common/tasks/skydive_ssl.yml
  skydive/roles/skydive_common/templates/skydive-openssl.cnf.j2
  skydive/roles/skydive_common/vars/debian.yml
  skydive/roles/skydive_common/vars/main.yml
  skydive/roles/skydive_common/vars/redhat.yml
  skydive/roles/skydive_common/vars/suse.yml
  skydive/validateSkydive.yml
Due: none

Read the path for the logstash queue path
  elk_metrics_6x/roles/elastic_logstash/tasks/main.yml
Due: openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial, openstack-ansible-ops:elk_metrics_6x-centos-7, openstack-ansible-ops:elk_metrics_6x-centos-7-clustered, openstack-ansible-ops:elk_metrics_6x-opensuse-423, openstack-ansible-ops:elk_metrics_6x-opensuse-423-clustered, openstack-ansible-ops:elk_metrics_6x-ubuntu-trusty, openstack-ansible-ops:elk_metrics_6x-ubuntu-bionic, openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial-clustered, openstack-ansible-ops:elk_metrics_6x-ubuntu-bionic-clustered

Update the galera_server role and change the mysqlcheck port
  osquery/ansible-role-requirements.yml
  osquery/installDB.yml
Due: openstack-ansible-ops:osquery-ubuntu-xenial, openstack-ansible-ops:osquery-ubuntu-xenial-clustered, openstack-ansible-ops:osquery-ubuntu-bionic, openstack-ansible-ops:osquery-ubuntu-bionic-clustered

Validate the IP addresses when generating a CNF
  skydive/roles/skydive_common/templates/skydive-openssl.cnf.j2
Due: none

Omit dahsboard on elk setup by default
  elk_metrics_6x/fieldRefresh.yml
  elk_metrics_6x/roles/elastic_beat_setup/defaults/main.yml
  overlay-inventories/osa-integration-inventory.yml
Due: openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial, openstack-ansible-ops:elk_metrics_6x-centos-7, openstack-ansible-ops:elk_metrics_6x-centos-7-clustered, openstack-ansible-ops:elk_metrics_6x-opensuse-423, openstack-ansible-ops:elk_metrics_6x-opensuse-423-clustered, openstack-ansible-ops:elk_metrics_6x-ubuntu-trusty, openstack-ansible-ops:elk_metrics_6x-ubuntu-bionic, openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial-clustered, openstack-ansible-ops:elk_metrics_6x-ubuntu-bionic-clustered

Add support for OVN in MNAIO deploy
  multi-node-aio/README.rst
  multi-node-aio/playbooks/deploy-osa.yml
  multi-node-aio/playbooks/group_vars/all.yml
  multi-node-aio/playbooks/openstack-service-setup.yml
  multi-node-aio/playbooks/osa/neutron-ovn-envd.yml
  multi-node-aio/playbooks/osa/nova-ovn-envd.yml
  multi-node-aio/playbooks/osa/openstack_user_config.yml
  multi-node-aio/playbooks/osa/ovs_network_hosts_group.yml
  multi-node-aio/playbooks/osa/user_mnaio_variables.yml
  multi-node-aio/playbooks/vars/openstack-service-config.yml
Due: none

Add the ability to set the JVM heap size
  elk_metrics_6x/roles/elastic_dependencies/defaults/main.yml
  elk_metrics_6x/roles/elastic_dependencies/tasks/main.yml
  elk_metrics_6x/roles/elastic_logstash/defaults/main.yml
  elk_metrics_6x/roles/elastic_logstash/tasks/main.yml
  elk_metrics_6x/roles/elasticsearch/defaults/main.yml
  elk_metrics_6x/roles/elasticsearch/tasks/main.yml
  elk_metrics_6x/roles/elasticsearch/vars/vars_default.yml
  elk_metrics_6x/roles/elasticsearch/vars/vars_kibana.yml
  elk_metrics_6x/templates/jvm.options.j2
Due: openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial, openstack-ansible-ops:elk_metrics_6x-centos-7, openstack-ansible-ops:elk_metrics_6x-centos-7-clustered, openstack-ansible-ops:elk_metrics_6x-opensuse-423, openstack-ansible-ops:elk_metrics_6x-opensuse-423-clustered, openstack-ansible-ops:elk_metrics_6x-ubuntu-trusty, openstack-ansible-ops:elk_metrics_6x-ubuntu-bionic, openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial-clustered, openstack-ansible-ops:elk_metrics_6x-ubuntu-bionic-clustered

Add ability to deploy Designate (DNSaaS)
  multi-node-aio/playbooks/group_vars/all.yml
  multi-node-aio/playbooks/osa/openstack_user_config.yml
  multi-node-aio/playbooks/osa/user_mnaio_variables.yml
Due: none

Add logstash ingestion for collectd
  elk_metrics_6x/roles/elastic_logstash/defaults/main.yml
  elk_metrics_6x/roles/elastic_logstash/tasks/main.yml
  elk_metrics_6x/templates/logstash-pipelines.yml.j2
  elk_metrics_6x/vars/variables.yml
Due: openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial, openstack-ansible-ops:elk_metrics_6x-centos-7, openstack-ansible-ops:elk_metrics_6x-centos-7-clustered, openstack-ansible-ops:elk_metrics_6x-opensuse-423, openstack-ansible-ops:elk_metrics_6x-opensuse-423-clustered, openstack-ansible-ops:elk_metrics_6x-ubuntu-trusty, openstack-ansible-ops:elk_metrics_6x-ubuntu-bionic, openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial-clustered, openstack-ansible-ops:elk_metrics_6x-ubuntu-bionic-clustered

Change the overlay service start vars
  overlay-inventories/osa-integration-inventory.yml
Due: none

Update overlay inventory to resovle circular dep
  overlay-inventories/osa-integration-inventory.yml
Due: none

Add the ability to enable or disable rollups / indexes
  elk_metrics_6x/createElasticIndexes.yml
  elk_metrics_6x/installAPMserver.yml
  elk_metrics_6x/installAuditbeat.yml
  elk_metrics_6x/installFilebeat.yml
  elk_metrics_6x/installHeartbeat.yml
  elk_metrics_6x/installJournalbeat.yml
  elk_metrics_6x/installKibana.yml
  elk_metrics_6x/installMetricbeat.yml
  elk_metrics_6x/installPacketbeat.yml
  elk_metrics_6x/roles/elastic_journalbeat/tasks/systemd.general-overrides.conf.j2
  elk_metrics_6x/roles/elastic_retention/defaults/main.yml
  elk_metrics_6x/vars/variables.yml
Due: openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial, openstack-ansible-ops:elk_metrics_6x-centos-7, openstack-ansible-ops:elk_metrics_6x-centos-7-clustered, openstack-ansible-ops:elk_metrics_6x-opensuse-423, openstack-ansible-ops:elk_metrics_6x-opensuse-423-clustered, openstack-ansible-ops:elk_metrics_6x-ubuntu-trusty, openstack-ansible-ops:elk_metrics_6x-ubuntu-bionic, openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial-clustered, openstack-ansible-ops:elk_metrics_6x-ubuntu-bionic-clustered

Change the q_mem and h_mem to lower and upper limits
  elk_metrics_6x/roles/elastic_dependencies/defaults/main.yml
  elk_metrics_6x/roles/elastic_dependencies/vars/vars_elasticsearch.yml
  elk_metrics_6x/roles/elastic_dependencies/vars/vars_logstash.yml
  elk_metrics_6x/roles/elastic_logstash/tasks/main.yml
  elk_metrics_6x/roles/elastic_logstash/templates/logstash.yml.j2
  elk_metrics_6x/tests/test-vars.yml
  elk_metrics_6x/vars/variables.yml
Due: openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial, openstack-ansible-ops:elk_metrics_6x-centos-7, openstack-ansible-ops:elk_metrics_6x-centos-7-clustered, openstack-ansible-ops:elk_metrics_6x-opensuse-423, openstack-ansible-ops:elk_metrics_6x-opensuse-423-clustered, openstack-ansible-ops:elk_metrics_6x-ubuntu-trusty, openstack-ansible-ops:elk_metrics_6x-ubuntu-bionic, openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial-clustered, openstack-ansible-ops:elk_metrics_6x-ubuntu-bionic-clustered

Fix dashboards and possible port conflicts
  elk_metrics_6x/createElasticIndexes.yml
  elk_metrics_6x/roles/elastic_beat_setup/tasks/main.yml
  elk_metrics_6x/roles/elastic_metricbeat/templates/apache-status.conf.j2
  elk_metrics_6x/roles/elastic_metricbeat/templates/metricbeat.yml.j2
  elk_metrics_6x/roles/elastic_metricbeat/templates/nginx-status.conf.j2
Due: openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial, openstack-ansible-ops:elk_metrics_6x-centos-7, openstack-ansible-ops:elk_metrics_6x-centos-7-clustered, openstack-ansible-ops:elk_metrics_6x-opensuse-423, openstack-ansible-ops:elk_metrics_6x-opensuse-423-clustered, openstack-ansible-ops:elk_metrics_6x-ubuntu-trusty, openstack-ansible-ops:elk_metrics_6x-ubuntu-bionic, openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial-clustered, openstack-ansible-ops:elk_metrics_6x-ubuntu-bionic-clustered

Increment nginx check port
  elk_metrics_6x/roles/elastic_metricbeat/templates/metricbeat.yml.j2
  elk_metrics_6x/roles/elastic_metricbeat/templates/nginx-status.conf.j2
Due: openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial, openstack-ansible-ops:elk_metrics_6x-centos-7, openstack-ansible-ops:elk_metrics_6x-centos-7-clustered, openstack-ansible-ops:elk_metrics_6x-opensuse-423, openstack-ansible-ops:elk_metrics_6x-opensuse-423-clustered, openstack-ansible-ops:elk_metrics_6x-ubuntu-trusty, openstack-ansible-ops:elk_metrics_6x-ubuntu-bionic, openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial-clustered, openstack-ansible-ops:elk_metrics_6x-ubuntu-bionic-clustered

Correct formatting in README.rst
  multi-node-aio/README.rst
Due: none

Add monitorstack data collection into ES
  elk_metrics_6x/installMonitorStack.yml
  elk_metrics_6x/roles/elastic_retention/defaults/main.yml
  elk_metrics_6x/site.yml
  elk_metrics_6x/vars/variables.yml
Due: openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial, openstack-ansible-ops:elk_metrics_6x-centos-7, openstack-ansible-ops:elk_metrics_6x-centos-7-clustered, openstack-ansible-ops:elk_metrics_6x-opensuse-423, openstack-ansible-ops:elk_metrics_6x-opensuse-423-clustered, openstack-ansible-ops:elk_metrics_6x-ubuntu-trusty, openstack-ansible-ops:elk_metrics_6x-ubuntu-bionic, openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial-clustered, openstack-ansible-ops:elk_metrics_6x-ubuntu-bionic-clustered

Update grafana, use vendored role, and add es lb
  elk_metrics_6x/vars/variables.yml
  grafana/installGrafana.yml
  grafana/roles/make_traefik
  grafana/roles/traefik_common
  skydive/roles/traefik_common/templates/traefik.toml.j2
Due: openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial, openstack-ansible-ops:elk_metrics_6x-centos-7, openstack-ansible-ops:elk_metrics_6x-centos-7-clustered, openstack-ansible-ops:elk_metrics_6x-opensuse-423, openstack-ansible-ops:elk_metrics_6x-opensuse-423-clustered, openstack-ansible-ops:elk_metrics_6x-ubuntu-trusty, openstack-ansible-ops:elk_metrics_6x-ubuntu-bionic, openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial-clustered, openstack-ansible-ops:elk_metrics_6x-ubuntu-bionic-clustered

Ensure upper and lower memory limits are whole numbers
  elk_metrics_6x/vars/variables.yml
Due: openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial, openstack-ansible-ops:elk_metrics_6x-centos-7, openstack-ansible-ops:elk_metrics_6x-centos-7-clustered, openstack-ansible-ops:elk_metrics_6x-opensuse-423, openstack-ansible-ops:elk_metrics_6x-opensuse-423-clustered, openstack-ansible-ops:elk_metrics_6x-ubuntu-trusty, openstack-ansible-ops:elk_metrics_6x-ubuntu-bionic, openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial-clustered, openstack-ansible-ops:elk_metrics_6x-ubuntu-bionic-clustered

Add dynamic group detection to openstack metrics
  elk_metrics_6x/installMonitorStack.yml
Due: openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial, openstack-ansible-ops:elk_metrics_6x-centos-7, openstack-ansible-ops:elk_metrics_6x-centos-7-clustered, openstack-ansible-ops:elk_metrics_6x-opensuse-423, openstack-ansible-ops:elk_metrics_6x-opensuse-423-clustered, openstack-ansible-ops:elk_metrics_6x-ubuntu-trusty, openstack-ansible-ops:elk_metrics_6x-ubuntu-bionic, openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial-clustered, openstack-ansible-ops:elk_metrics_6x-ubuntu-bionic-clustered

Correct service name when running with upstart
  elk_metrics_6x/roles/elastic_packetbeat/handlers/main.yml
Due: openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial, openstack-ansible-ops:elk_metrics_6x-centos-7, openstack-ansible-ops:elk_metrics_6x-centos-7-clustered, openstack-ansible-ops:elk_metrics_6x-opensuse-423, openstack-ansible-ops:elk_metrics_6x-opensuse-423-clustered, openstack-ansible-ops:elk_metrics_6x-ubuntu-trusty, openstack-ansible-ops:elk_metrics_6x-ubuntu-bionic, openstack-ansible-ops:elk_metrics_6x-ubuntu-xenial-clustered, openstack-ansible-ops:elk_metrics_6x-ubuntu-bionic-clustered
